<p id="notice"><%= notice %></p>

<p>
  <strong>App:</strong>
  <%= @invite.app %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @invite.sender %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @invite.receiver %>
</p>

<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
