<%= stylesheet_link_tag "application.css" %>
<div class="center jumbotron">
  <h1>Welcome to Spinup</h1>

  <%= link_to 'Spin randomly', random_path %>
  <%= link_to 'Chosen for you', home_path %>
  <%= link_to 'Fresh apps', home_path %>
  <%= link_to 'App of the day', home_path %>
  <%= link_to 'Must have', home_path %>
</div>

