<%= stylesheet_link_tag "application.css" %>
<div class= "center jumbotron" >

<%= form_for(@developer) do |f| %>
  <% if @developer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@developer.errors.count, "error") %> prohibited this developer from being saved:</h2>

      <ul>
      <% @developer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <div class="field">
    <p><%= f.label :name %>
    <%= f.text_field :name %></p>
  </div>
  <div class="field">
    <p><%= f.label :surname %>
    <%= f.text_field :surname %></p>
  </div>
  <div class="field">
    <p><%= f.label :city %><br>
    <%= f.text_field :city %></p>
  </div>  
  <div class="field">
    <p><%= f.label :age %>
    <%= f.number_field :age %></p>
  </div>
  <div class="field">
    <p><%= f.label :email %>
    <%= f.text_field :email %></p>
  </div>
  <div class="field">
    <p><%= f.label :password %>
    <%= f.password_field :password, class: 'form-control'  %></p>
  </div>
  <div class="field">
   <p> <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %></p>
  </div>
  <p><span class="picture">
	<%= f.label :picture, "Upload Your Photo" %>
   <p><%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %></p>
  </span></p>
  <div class="actions">
   <p> <%= f.submit "Create Developer", class: "btn btn-primary" %></p>
  </div>
  </div>
 </div>
<%end%>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>


</div>