<%= stylesheet_link_tag "application.css" %>
<div class= "center jumbotron" >
<%if logged_in_dev?%>
			<div class="left">
				<div class="dropdown">
					<button class="dropbtn"> <%=current_dev.name %> </button>
					<div class="dropdown-content">
						<%= link_to "Home", home_path%><br>
						<%= link_to "My profile", developer_path(current_dev) %><br>
						<%= link_to "Settings", edit_developer_path(current_dev) %><br>
						<%= link_to "Create App", new_app_path%><br>
						<%= link_to "Pending invites", controller: 'invites', action: 'pending_invites', :id => current_dev.id %><br>
						<%= link_to "Log out", logoutdev_path, method: "get" %>
					</div>
				</div>
		   </div>
		<%end%> 

<style>
th, td {
	padding: 20px;
	padding-top: 0px;
	text-align: left;
}
</style>

<div id="information">
<div id="anagraphics">
<p>
<strong>Name:</strong>
<%= @developer.name %>
</p>
<p>
<strong>Surname:</strong>
<%= @developer.surname %>
</p>
<p>
<strong>Email:</strong>
<%= @developer.email %>
</p>
<p>
<strong>Age:</strong>
<%= @developer.age %>
</p>
<p>
<strong>City:</strong>
<%= @developer.city %>
</p>
</div>
<div class="photo">
<%= image_tag @developer.picture.url if @developer.picture? %>
</div>
</div>
<% if current_dev.id != Developer.find(params[:id]).id %>
<p><%= link_to 'Invite this developer to work on some of your apps', controller: 'apps', action: 'choose_your_apps' %>
<% end %>
</p>

<hr>

<p><strong>Skills:</strong></p>

<table align= "center">

<tr>
	<td> <h4> HTML+CSS: </h4></td>
	<td> <h4> <%= @skill.html_css %> </h4> </td>
	<td> <h4><%= Approval.where("skill = ? AND voted = ?", "htmlcss", @developer).count %> <%= "developers approved" %> </h4> </td>
	 <% if current_dev.id != Developer.find(params[:id]).id and Approval.where("skill = ? AND voted = ? AND voter = ?", "htmlcss", @developer, current_dev.id).count == 0 %>
		<td> <h4> <%= link_to 'Approve', controller: 'skills', action: 'edit_htmlcss' %>  </h4> </td>
	<% end %>
	<td> <h4> <%= link_to 'Who voted this?', controller: 'skills', action: 'show_htmlcss' %> </h4> </td>
</tr>

<tr>
	<td> <h4> Java: </h4></td>
	<td> <h4><%= @skill.java %> </h4></td>
	<td> <h4><%= Approval.where("skill = ? AND voted = ?", "java", @developer).count %> <%= "developers approved" %> </h4></td>
	 <% if current_dev.id != Developer.find(params[:id]).id and Approval.where("skill = ? AND voted = ? AND voter = ?", "java", @developer, current_dev.id).count == 0 %>
		<td><h4><%= link_to 'Approve', controller: 'skills', action: 'edit_java' %></h4> </td>
	<% end %>
	<td> <h4><%= link_to 'Who voted this?', controller: 'skills', action: 'show_java' %></h4> </td>
</tr>

<tr>
	<td> <h4>Javascript: </h4></td>
	<td> <h4><%= @skill.javascript %> </h4></td>
	<td> <h4><%= Approval.where("skill = ? AND voted = ?", "javascript", @developer).count %> <%= "developers approved" %> </h4></td>
	 <% if current_dev.id != Developer.find(params[:id]).id and Approval.where("skill = ? AND voted = ? AND voter = ?", "javascript", @developer, current_dev.id).count == 0 %>
		<td><h4><%= link_to 'Approve', controller: 'skills', action: 'edit_javascript' %> </h4></td>
	<% end %>
	<td> <h4><%= link_to 'Who voted this?', controller: 'skills', action: 'show_javascript' %> </h4></td>
</tr>

<tr>
	<td> <h4>C: </h4></td>
	<td> <h4><%= @skill.c %> </h4></td>
	<td> <h4><%= Approval.where("skill = ? AND voted = ?", "c", @developer).count %> <%= "developers approved" %> </h4></td>
	 <% if current_dev.id != Developer.find(params[:id]).id and Approval.where("skill = ? AND voted = ? AND voter = ?", "c", @developer, current_dev.id).count == 0 %>
		<td><h4><%= link_to 'Approve', controller: 'skills', action: 'edit_c' %> </h4></td>
	<% end %>
	<td><h4> <%= link_to 'Who voted this?', controller: 'skills', action: 'show_c' %></h4></td>
</tr>

<tr>
	<td> <h4>C++: </h4></td>
	<td> <h4><%= @skill.c_plus_plus %> </h4></td>
	<td> <h4><%= Approval.where("skill = ? AND voted = ?", "cplus", @developer).count %> <%= "developers approved" %> </h4></td>
	 <% if current_dev.id != Developer.find(params[:id]).id and Approval.where("skill = ? AND voted = ? AND voter = ?", "cplus", @developer, current_dev.id).count == 0 %>
		<td><h4><%= link_to 'Approve', controller: 'skills', action: 'edit_cplus' %></h4> </td>
	<% end %>
	<td> <h4><%= link_to 'Who voted this?', controller: 'skills', action: 'show_c_plus_plus' %> </h4></td>
</tr>

<tr>
	<td> <h4>Nodejs: </h4></td>
	<td> <h4><%= @skill.nodejs %> </h4></td>
	<td> <h4><%= Approval.where("skill = ? AND voted = ?", "nodejs", @developer).count %> <%= "developers approved" %> </h4></td>
	 <% if current_dev.id != Developer.find(params[:id]).id and Approval.where("skill = ? AND voted = ? AND voter = ?", "nodejs", @developer, current_dev.id).count == 0 %>
		<td><h4><%= link_to 'Approve', controller: 'skills', action: 'edit_nodejs' %> </h4></td>
	<% end %>
	<td> <h4><%= link_to 'Who voted this?', controller: 'skills', action: 'show_nodejs' %> </h4></td>
</tr>

<tr>
	<td> <h4>Database: </h4></td>
	<td> <h4><%= @skill.database %> </h4></td>
	<td> <h4><%= Approval.where("skill = ? AND voted = ?", "database", @developer).count %> <%= "developers approved" %> </h4></td>
	 <% if current_dev.id != Developer.find(params[:id]).id and Approval.where("skill = ? AND voted = ? AND voter = ?", "database", @developer, current_dev.id).count == 0 %>
		<td><h4><%= link_to 'Approve', controller: 'skills', action: 'edit_database' %></h4> </td>
	<% end %>
	<td><h4> <%= link_to 'Who voted this?', controller: 'skills', action: 'show_database' %></h4> </td>
</tr>

<tr>
	<td> <h4>Algorithms: </h4></td>
	<td> <h4><%= @skill.algorithms %> </h4></td>
	<td> <h4><%= Approval.where("skill = ? AND voted = ?", "algorithms", @developer).count %> <%= "developers approved" %> </h4></td>
	 <% if current_dev.id != Developer.find(params[:id]).id and Approval.where("skill = ? AND voted = ? AND voter = ?", "algorithms", @developer, current_dev.id).count == 0 %>
		<td><h4><%= link_to 'Approve', controller: 'skills', action: 'edit_algorithms' %> </h4></td>
	<% end %>
	<td> <h4><%= link_to 'Who voted this?', controller: 'skills', action: 'show_algorithms' %></h4> </td>
</tr>

<tr>
	<td> <h4>Android: </h4></td>
	<td> <h4><%= @skill.android %> </h4></td>
	<td> <h4><%= Approval.where("skill = ? AND voted = ?", "android", @developer).count %> <%= "developers approved" %> </h4></td>
	 <% if current_dev.id != Developer.find(params[:id]).id and Approval.where("skill = ? AND voted = ? AND voter = ?", "android", @developer, current_dev.id).count == 0 %>
		<td><h4><%= link_to 'Approve', controller: 'skills', action: 'edit_android' %></h4> </td>
	<% end %>
	<td> <h4><%= link_to 'Who voted this?', controller: 'skills', action: 'show_android' %></h4> </td>
</tr>

<tr>
	<td> <h4>iOS: </h4></td>
	<td> <h4><%= @skill.ios %> </h4></td>
	<td> <h4><%= Approval.where("skill = ? AND voted = ?", "ios", @developer).count %> <%= "developers approved" %> </h4></td>
	 <% if current_dev.id != Developer.find(params[:id]).id and Approval.where("skill = ? AND voted = ? AND voter = ?", "ios", @developer, current_dev.id).count == 0 %>
		<td><h4><%= link_to 'Approve', controller: 'skills', action: 'edit_ios' %> </h4></td>
	<% end %>
	<td> <h4><%= link_to 'Who voted this?', controller: 'skills', action: 'show_ios' %> </h4></td>
</tr>


</table>

<hr>

<p><strong>Apps:</strong></p>

<table align= "center">

<% App.all.each do |app| %>
	
	<% if app.developers.exists?(params[:id]) %>

<tr>
	<td> <h4> <%= link_to "#{app.name}", controller: 'apps', action: 'show', :id => app.id %> </h4></td>
	<td> <h4> <%= link_to "Modify App", controller: 'apps', action: 'edit', :id => app.id %> </h4></td>
	<% if app.developers.first.id == current_dev.id %>
		<td> <h4> <%= link_to "Delete App", app_path(app), method: :delete %> </h4></td>
	<% end %>
</tr>

	<% end %>

<% end %>

</table>

</div>