<%= stylesheet_link_tag "application.css" %>

<br><br><br>


<p>
  <strong>Name:</strong>
  <%= @developer.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @developer.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @developer.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @developer.age %>
</p>

<p>
  <strong>City:</strong>
  <%= @developer.city %>
</p>

<% if current_dev.id == Developer.find(params[:id]).id %>
		<p><%= link_to 'Take A Look At Your Skills', controller: 'skills', action: 'show'  %>
		<% end %>
		</p>
<% if current_dev.id != Developer.find(params[:id]).id %>
					<p><%= link_to 'Approve Skills For This Developer', controller: 'skills', action: 'show'  %>
				<% end %>
					</p>

<% if current_dev.id != Developer.find(params[:id]).id %>
					<p><%= link_to 'Invite this developer to work on some of your apps', controller: 'apps', action: 'choose_your_apps' %>
				<% end %>
					</p>

