<p id="notice"><%= notice %></p>

<p>
  <strong>Skill:</strong>
  <%= @developer.skill %>
</p>

<p>
  <strong>Age:</strong>
  <%= @developer.age %>
</p>

<p>
  <strong>City:</strong>
  <%= @developer.city %>
</p>

<%= link_to 'Edit', edit_developer_path(@developer) %> |
<%= link_to 'Back', developers_path %>
