<%= stylesheet_link_tag "application.css" %>
<div class= "center jumbotron" >
<%if logged_in?%>
			<div class="left">
				<div class="dropdown">
					<button class="dropbtn"> <%= current_user.username%> </button>
					<div class="dropdown-content">
						<%= link_to "Home", home_path%><br>
						<%= link_to "Settings", edit_user_path(current_user) %><br>
						<% if current_user.admin? %>
							<%= link_to "Reports", controller: 'reports', action: 'list_reports' %><br>
						<% end %>
						<%= link_to "Log out", logout_path, method: "get" %>
					</div>
				</div>	
			</div>
			<div class="follow">
				<% if !current_user.admin? %>
					<%= render 'shared/statsuser' %>
				<% end %>
			</div>
		<%end%>


<style>
table, th, td {
    border: 1px solid black;
}
th, td {
	padding: 10px;
	text-align: left;
}
</style>

<p> <strong>Welcome to the super secret admin page, special powers await in here...</strong></p>

<hr>

<div style="float:left; width:50%;">

<p><strong> Listing Users </strong></p>

<br>

<table align= "center">

	<tr>
		<th> Username </th>
		<th> Email </th>
	</tr>

	<% User.all.each do |user| %>

 		<% if !user.admin? %>
 		<tr>
 		<td><%= user.username %></td>
 		<td><%= user.email %></td>
 		</tr>
 		<% end %>

 	<% end %>
 </table>

</div>

<div style="float:right; width:50%;">

<p> <strong> Listing Developers </strong></p>

<br>

<table align= "center">

	<tr>
		<th> Developer name </th>
		<th> Developer surname </th>
		<th> Email </th>
		<th> City </th>
		<th> Age </th>
	</tr>

	<% Developer.all.each do |dev| %>

		<tr>
		<td><%= dev.name %></td>
		<td><%= dev.surname %></td>
		<td><%= dev.email %></td>
		<td><%= dev.city %></td>
		<td><%= dev.age %></td>
		</tr>

	<% end %>
</table>
 
</div>

</div>