<%= stylesheet_link_tag "application.css" %>
<div class= "center jumbotron" >
<%if logged_in_dev?%>
      <div class="left">
        <div class="dropdown">
          <button class="dropbtn"> <%=current_dev.name %> </button>
          <div class="dropdown-content">
            <%= link_to "Home", home_path%><br>
            <%= link_to "My profile", developer_path(current_dev) %><br>
            <%= link_to "Settings", edit_developer_path(current_dev) %><br>
            <%= link_to "Create App", new_app_path%><br>
            <%= link_to "Pending invites", controller: 'invites', action: 'pending_invites', :id => current_dev.id %><br>
            <%= link_to "Log out", logoutdev_path, method: "get" %>
          </div>
        </div>
       </div>
    <%end%>  


<%= form_for(@skill) do |f| %>
  <% if @skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
      <% @skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :java %><br>
    <%= f.number_field :java, in: 0..50 %>
  </div>
 
    <div class="actions">
    <%= f.submit %>
  </div>

  <% end %>

</div>