<%= stylesheet_link_tag "application.css" %>
<div class= "center jumbotron" >
<%if logged_in_dev?%>
      <div class="left">
        <div class="dropdown">
          <button class="dropbtn"> <%=current_dev.name %> </button>
          <div class="dropdown-content">
            <%= link_to "Home", home_path%><br>
            <%= link_to "My profile", developer_path(current_dev) %><br>
            <%= link_to "Settings", edit_developer_path(current_dev) %><br>
            <%= link_to "Create App", new_app_path%><br>
            <%= link_to "Pending invites", controller: 'invites', action: 'pending_invites', :id => current_dev.id %><br>
            <%= link_to "Log out", logoutdev_path, method: "get" %>
          </div>
        </div>
       </div>
    <%end%> 

<style>
table, th, td {
    border: 1px solid black;
}
th, td {
	padding: 10px;
	text-align: left;
}
</style>

<p> <strong>According to your search these are the developers we found: </strong></p>

<hr>

<table align= "center", style="width:30%">

	<tr>
		<th> Developer </th>
		<th> Developer Skill </th>
		<th> Developer Profile </th>
	</tr>

<% @range.each do |s| %>

	<% if (params[:commit] == 'Search HTML+CSS' and Skill.find(s).html_css >= params[:q].to_i and Developer.find(s).id != current_dev.id) %>
	
	<tr>		
		<td><%= @dev = Developer.find(s).name %></td>
		<td><%= Skill.find(s).html_css %></td>
		<td><%= link_to "Go to developer profile", Developer.find_by(name: @dev) %></td>
	</tr>	
	
	<% end %>

	<% if (params[:commit] == 'Search Java' and Skill.find(s).java >= params[:q].to_i and Developer.find(s).id != current_dev.id) %>
	
	<tr>		
		<td><%= @dev = Developer.find(s).name %></td>
		<td><%= Skill.find(s).java %></td>
		<td><%= link_to "Go to developer profile", Developer.find_by(name: @dev) %></td>
	</tr>	
	
	<% end %>

	<% if (params[:commit] == 'Search Javascript' and Skill.find(s).javascript >= params[:q].to_i and Developer.find(s).id != current_dev.id) %>
	
	<tr>		
		<td><%= @dev = Developer.find(s).name %></td>
		<td><%= Skill.find(s).javascript %></td>
		<td><%= link_to "Go to developer profile", Developer.find_by(name: @dev) %></td>
	</tr>	
	
	<% end %>

	<% if (params[:commit] == 'Search C' and Skill.find(s).c >= params[:q].to_i and Developer.find(s).id != current_dev.id) %>
	
	<tr>		
		<td><%= @dev = Developer.find(s).name %></td>
		<td><%= Skill.find(s).c %></td>
		<td><%= link_to "Go to developer profile", Developer.find_by(name: @dev) %></td>
	</tr>	
	
	<% end %>

	<% if (params[:commit] == 'Search C++' and Skill.find(s).c_plus_plus >= params[:q].to_i and Developer.find(s).id != current_dev.id) %>
	
	<tr>		
		<td><%= @dev = Developer.find(s).name %></td>
		<td><%= Skill.find(s).c_plus_plus %></td>
		<td><%= link_to "Go to developer profile", Developer.find_by(name: @dev) %></td>
	</tr>	
	
	<% end %>

	<% if (params[:commit] == 'Search Nodejs' and Skill.find(s).nodejs >= params[:q].to_i and Developer.find(s).id != current_dev.id) %>
	
	<tr>		
		<td><%= @dev = Developer.find(s).name %></td>
		<td><%= Skill.find(s).nodejs %></td>
		<td><%= link_to "Go to developer profile", Developer.find_by(name: @dev) %></td>
	</tr>	
	
	<% end %>

	<% if (params[:commit] == 'Search Database' and Skill.find(s).database >= params[:q].to_i and Developer.find(s).id != current_dev.id) %>
	
	<tr>		
		<td><%= @dev = Developer.find(s).name %></td>
		<td><%= Skill.find(s).database %></td>
		<td><%= link_to "Go to developer profile", Developer.find_by(name: @dev) %></td>
	</tr>	
	
	<% end %>

	<% if (params[:commit] == 'Search Algorithms' and Skill.find(s).algorithms >= params[:q].to_i and Developer.find(s).id != current_dev.id) %>
	
	<tr>		
		<td><%= @dev = Developer.find(s).name %></td>
		<td><%= Skill.find(s).algorithms %></td>
		<td><%= link_to "Go to developer profile", Developer.find_by(name: @dev) %></td>
	</tr>	
	
	<% end %>

	<% if (params[:commit] == 'Search Android' and Skill.find(s).android >= params[:q].to_i and Developer.find(s).id != current_dev.id) %>
	
	<tr>		
		<td><%= @dev = Developer.find(s).name %></td>
		<td><%= Skill.find(s).android %></td>
		<td><%= link_to "Go to developer profile", Developer.find_by(name: @dev) %></td>
	</tr>	
	
	<% end %>

	<% if (params[:commit] == 'Search iOS' and Skill.find(s).ios >= params[:q].to_i and Developer.find(s).id != current_dev.id) %>
	
	<tr>		
		<td><%= @dev = Developer.find(s).name %></td>
		<td><%= Skill.find(s).ios %></td>
		<td><%= link_to "Go to developer profile", Developer.find_by(name: @dev) %></td>
	</tr>	
	
	<% end %>

<% end %>

</table>

</div>