<%= form_for(@app) do |f| %>
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% @app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <br>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= f.label :platform %>
    <%= f.select :platform, [ 'Android', 'ios', 'Windows phone', 'Pc' ], :prompt => 'Select One' %>
  </div>
  <br>
  <div class="field">
    <%= f.label :category %>
    <%= f.select :category, [ 'Game', 'Photo', 'Family', 'Music', 'Shopping', 'Social', 'Communication' ] , :prompt => "Select One" %>
  </div>
  <div class="hidden">
	<%= f.label :realizer %>
	<%= select_tag "realizers", options_from_collection_for_select(Developer.all, 'id', 'name', current_dev.id)%>
  </div>
  <div class="field">
  <%= f.label :version %>
  <%= f.text_field :version, :value => "1.0" %>
  </div>
  <br>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <div class="actions"><br>
    <%= f.submit "Post", class: "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
