<div class= "center jumbotron" >

<h1>Editing App</h1>

<%if logged_in_dev?%>
			<div class="left">
				<div class="dropdown">
					<button class="dropbtn"> <%=current_dev.name %> </button>
					<div class="dropdown-content">
						<%= link_to "Home", home_path%><br>
						<%= link_to "My profile", developer_path(current_dev) %><br>
						<%= link_to "Settings", edit_developer_path(current_dev) %><br>
						<%= link_to "Create App", new_app_path%><br>
						<%= link_to "Pending invites", controller: 'invites', action: 'pending_invites', :id => current_dev.id %><br>
						<%= link_to "Log out", logoutdev_path, method: "get" %>
					</div>
				</div>
		   </div>
		<%end%> 
				
<%= render 'form' %>

<br>

<%= link_to 'Back', :back %>

</div>
