<p id="notice"><%= notice %></p>

<%= stylesheet_link_tag "application.css" %>

		<%if logged_in?%>
			<div class="left-app"> 
				<div class="dropdown">
					<button class="dropbtn"> <%= current_user.username%> </button>
					<div class="dropdown-content">
						<%= link_to "Home", home_path%><br>
						<%= link_to "Settings", edit_user_path(current_user) %><br>
						<% if current_user.admin? %>
							<%= link_to "Reports", controller: 'reports', action: 'list_reports' %><br>
						<% end %>
						<%= link_to "Log out", logout_path, method: "get" %>
					</div>
				</div>	
			</div>
		<%end%>
		<%if logged_in_dev?%>
			<div class="left-app">
				<div class="dropdown">
					<button class="dropbtn"> <%=current_dev.name %> </button>
					<div class="dropdown-content">
						<%= link_to "Home", home_path%><br>
						<%= link_to "My profile", developer_path(current_dev) %><br>
						<%= link_to "Settings", edit_developer_path(current_dev) %><br>
						<%= link_to "Create App", new_app_path%><br>
						<%= link_to "Pending invites", controller: 'invites', action: 'pending_invites', :id => current_dev.id %><br>
						<%= link_to "Log out", logoutdev_path, method: "get" %>
					</div>
				</div>
		   </div>
		<%end%> 

<div id="container">
		<div class="Realizers">
			Realizers :
			<% @app.developers.each do |developer| %>
		                <%if logged_in_dev?%>
		                <ul><%=link_to developer.name + " " + developer.surname, developer_path%></ul>
		                <%end%> 
		                <%if logged_in?%>
		                    <%=developer.name + " " + developer.surname%>
		                <%end%>
			<% end %>
		</div>
	<div class="general">
			<div class="photo">
				<%= image_tag @app.picture.url if @app.picture? %>
			</div>
		<%if @app.picture?%>
			<div class="information">
		<%else%>
			<div class="information2">
		<%end%>
			<p>
				<strong>Name:</strong>
				<%= @app.name %> (Version : <%= @app.version %>)
			</p>
            <p>
                <strong>Platform:</stong>
				<%= @app.platform %>
            </p>
            <p>
                <strong>Category:</strong>
				<%= @app.category %><br>
				
            Vote : <%= rating_for @app, 'vote', cancel_place: 'right', cancel_hint: 'Cancel this vote!',
                   disable_after_rate: true , imdb_avg: true ,target: '#hintDiv' %>
            <div id="hintDiv"></div>
            Votes: <%= @app.rates("vote").count %>

            
            <section class="stats">
                <%= render 'shared/statsapp' %>
            </section>				
			</p>
			
			
			<% if !logged_in? %>
			
			
			<%if @app.picture?%>
				<div id="bugs">
			<%else%>
				<div id="bugs2">
			<%end%>
			<% if @app.developers.first.id == current_dev.id %>

				<p><%= link_to "Watch pending requests", controller: 'invites', action: 'requests' %></p>

			<% end %>


			<p><%= link_to "Known bugs", controller: 'bugs', action: 'show_app_bugs' %></p>
			
			<% if !@app.developers.exists?(current_dev.id) and Invite.where("app = ? AND sender = ? AND receiver = ?", @app.name, current_dev.id, @app.developers.first.id).count == 0 %>

				<p><%= link_to "Propose to work on app", controller: 'invites', action: 'create_invite' %></p>

			<% end %>
			
			</div>
			
			<% end %>
            
            <br>
            
            
            <div id="follow_form">
            <% if current_user%>
              <% if current_user.following?(@app) %>
                <%= render 'unfollow' %>
              <% else %>
                <%= render 'follow' %>
              <% end %>
            <% else %>
                
            <% end %>
            </div>
		</div>
	</div>

	

	<br><br><br><br><br><br>

		<% if logged_in_dev? and @app.developers.exists?(current_dev) %>
				<h1>New Post</h1>
				<% @micropost = Micropost.new %>
				<% @micropost.app = @app %>
				<section class="micropost_form">
				<%= render 'shared/micropost_form' %>
				</section>
				<% end %>


        <div class="col-md-8">
        
            <% if @app.microposts.any? %>
              <h3>Microposts (<%= @app.microposts.count %>)</h3>
              <ol class="microposts">
                <%= render @microposts %>
              </ol>
              <%= will_paginate @microposts %>
            <% end %>
	</div>
		
  </div>
</div>
