
<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag "application.css" %>

<div id="container">
		<div class="Realizers">
			Lista dei realizzatori :
			<% @app.developers.each do |developer| %>
			<ul><%= developer.name + " " + developer.surname%></ul>
			<% end %>
		</div>
	<div class="general">
		<div class="photo">
			Qui va inserita la foto
		</div>
		<div class="information">
			<p>
				<strong>Name:</strong>
				<%= @app.name %>
			</p>
            
            Vote : <%= rating_for @app, 'vote', cancel_place: 'right', cancel_hint: 'Cancel this vote!',
                   disable_after_rate: true , imdb_avg: true ,target: '#hintDiv' %>
            <div id="hintDiv"></div>
            Votes: <%= @app.rates("vote").count %>

            
            <section class="stats">
                <%= render 'shared/statsapp' %>
            </section>
            
            
            <div id="follow_form">
            <% if current_user%>
              <% if current_user.following?(@app) %>
                <%= render 'unfollow' %>
              <% else %>
                <%= render 'follow' %>
              <% end %>
            <% else %>
                
            <% end %>
            </div>
		</div>
	</div>
	<br><br><br><br><br><br><br><br>
	
	<% @app.developers.each do |developer| %>
        <% if logged_in_dev?%>
		<% if developer.id == current_dev.id %>
        <h1>New Post</h1>
        <% @micropost = Micropost.new %>
        <% @micropost.app = @app %>
        <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
        </section>
        <% end %>
        <% end %>

		
        <div class="col-md-8">
        
          <div class="col-md-8">
            <% if @app.microposts.any? %>
              <h3>Posts (<%= @app.microposts.count %>)</h3>
              <ol class="microposts">
                <%= render @microposts %>
              </ol>
              <%= will_paginate @microposts %>
            <% end %>
          </div>

		</div>
	<% end %>
	
  </div>
</div>

<% if !@app.developers.exists?(current_dev.id) %>

	<%= link_to "Propose to work on app", controller: 'invites', action: 'create_invite' %>

<% end %>


<% if @app.developers.first.id == current_dev.id %>

	<%= link_to "Watch pending requests", controller: 'invites', action: 'requests' %>

<% end %>


<%= link_to "Known bugs", controller: 'bugs', action: 'show_app_bugs' %>