<br><br><br>

<p> Describe the bug: </p>

<%= form_for(@bug) do |f| %>
  <% if @bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
      <% @bug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden">
    <%= f.label :app_id %><br>
    <%= f.number_field :app_id, :value => @app.id %>
  </div>
  <div class="hidden">
    <%= f.label :founder %><br>
    <%= f.text_field :founder, :value => current_dev.id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :maxlength => 256 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
