<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @report.user_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @report.comment %>
</p>

<p>
  <strong>Post:</strong>
  <%= @report.post_id %>
</p>

<p>
  <strong>App:</strong>
  <%= @report.app_id %>
</p>