<!DOCTYPE html>
<html>
<head>
  <title>Spinup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
</head>

<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
        <%= link_to "Home", home_path %>
        <br>
        <% if logged_in? %>
            <div class="left_side">
                <div class="dropdown">
                    <button class="dropbtn"> <%= current_user.username%> </button>
                        <div class="dropdown-content">
                            <%= link_to "Settings", edit_user_path(current_user) %><br>
                            <%= link_to "Log out", logout_path, method: "get" %>
                        </div>
                </div>
            </div>
            <% if !current_user.admin? %>
            <section class="stats">
                <%= render 'shared/statsuser' %>
            </section>
            <% end %>
        <% elsif logged_in_dev? %>
            <div class="left_side">
                <div class="dropdown">
                    <button class="dropbtn"> <%=current_dev.name %> </button>
                        <div class="dropdown-content">
                            <%= link_to "My profile", developer_path(current_dev) %>
                            <%= link_to "Settings", edit_developer_path(current_dev) %><br>
                            <a href="/apps/new">Create App</a><br>
                            <%= link_to "My apps", controller: 'apps', action: 'my_apps', :id => current_dev.id %>
                            <br><%= link_to "Pending invites", controller: 'invites', action: 'pending_invites', :id => current_dev.id %>
                            <%= link_to "Log out", logoutdev_path, method: "get" %>
                        </div>
                </div>
            </div>
        <% else %>
          <%= link_to "Log in as a User", login_path %><br>
          <%= link_to "Log in as a Developer", logindev_path %><br>
          New user? <br>[<%= link_to 'Signup as a User',
          signup_user_path, :method => :get%>]<br>
          [<%= link_to 'Signup as a Developer',
          signup_developer_path, :method => :get%>]
        <% end %>
  </div>
</header>
<%= yield %>

</body>
</html>
